#portfolio
    padding: 96px 0px
    background-color: #f8f9fa
    .first
        h1
            color: #212529
            font-size: 40px
            margin-bottom: 16px
            font-weight: 700
        h4
            font-size: 18px
            font-weight: 400
            color: #6c757d  
            margin-bottom: 64px  

    .second
        padding: 24px
        background-color: #ffffff
        h2
            font-weight: 700
            font-size: 24px
            color: #212529
            padding-bottom: 10px   
        h3
            color: #6c757d
            font-size: 18px  

        
                
            