body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

.imgbox img {
  width: 100%;
  height: 100%;
}

header {
  padding: 16px 0;
  background-color: #212529;
  height: 75px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
header .imgbox {
  width: 140px;
  padding-left: -50px;
}
header .imgbox img {
  cursor: pointer;
}
header nav a {
  padding: 15px;
  font-size: 18px;
  color: #ffffff;
  transition: 0.15s;
  cursor: pointer;
}
header nav a:hover {
  color: #ffc800;
}

#welcome {
  background-image: url("Assets/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
#welcome .box {
  height: 700px;
}
#welcome .box h1 {
  font-size: 75px;
  font-weight: 700;
  margin: 0px 0px 40px;
}
#welcome .box h2 {
  font-size: 40px;
  margin: 67px 0px 40px;
}
#welcome .box .btn h3 {
  padding: 19px 55px;
  border: 1px solid #ffc800;
  background-color: #ffc800;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  transition: 0.15s;
  cursor: pointer;
}
#welcome .box .btn h3:hover {
  background-color: #d9aa00;
}
#welcome .box h1, #welcome .box h2, #welcome .box h3 {
  color: #ffffff;
}

#services {
  padding-bottom: 96px;
}
#services .first h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0px 0px 16px;
  padding: 96px 0px 0px;
}
#services .first h3 {
  font-size: 18px;
  color: #6c757d;
  margin-bottom: 64px;
  font-weight: 400;
}
#services .imgbox .icon i {
  margin-left: 148px;
  font-size: 60px;
  width: 125px;
  height: 125px;
  border: 1px solid #ffc800;
  background-color: #ffc800;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
#services .textbox h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0px;
}
#services .textbox p {
  color: #6c757d;
  line-height: 1.75;
  font-size: 18px;
  margin-bottom: 16px;
}

#portfolio {
  padding: 96px 0px;
  background-color: #f8f9fa;
}
#portfolio .first h1 {
  color: #212529;
  font-size: 40px;
  margin-bottom: 16px;
  font-weight: 700;
}
#portfolio .first h4 {
  font-size: 18px;
  font-weight: 400;
  color: #6c757d;
  margin-bottom: 64px;
}
#portfolio .second {
  padding: 24px;
  background-color: #ffffff;
}
#portfolio .second h2 {
  font-weight: 700;
  font-size: 24px;
  color: #212529;
  padding-bottom: 10px;
}
#portfolio .second h3 {
  color: #6c757d;
  font-size: 18px;
}

#about {
  padding: 96px 0px;
}
#about .first h1 {
  font-size: 40px;
  margin-bottom: 16px;
  font-weight: 700;
  color: #212529;
}
#about .first h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 64px;
  color: #6c757d;
}
#about .second h2, #about .third h2 {
  font-size: 24px;
  font-weight: 700;
  color: #212529;
  margin-bottom: 8px;
}
#about .second p, #about .third p {
  color: #6c757d;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75;
}
#about .second {
  width: 380px;
  margin-left: 136px;
}
#about img {
  margin: 0px 0px 150px -95px;
  border-radius: 100%;
  width: 170px;
  border: 7px solid #e9ecef;
}
#about .third {
  width: 380px;
}

#team {
  padding: 96px 0px;
  background-color: #f8f9fa;
}
#team .first h1 {
  color: #212529;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
#team .first h3 {
  color: #6c757d;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 64px;
}
#team img {
  border-radius: 100%;
  border: 8px solid #dfe0e1;
  width: 224px;
}
#team .second h2 {
  color: #212529;
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
}
#team .second h4 {
  color: #6c757d;
  margin: 16px 0px 16px;
  font-weight: 400;
  font-size: 18px;
}
#team .minibox .icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}
#team .minibox .icon:hover {
  cursor: pointer;
  background-color: #424649;
  transition: 0.15s;
}
#team .minibox .icon i {
  color: white;
  cursor: pointer;
}
#team .third {
  width: 803px;
  font-size: 19px;
  color: #6c757d;
  margin: 48px 240px 16px;
  line-height: 1.75;
}

#company {
  padding: 48px 0px 48px;
  margin: 0px 80px 0px;
}
#company img {
  height: 44px;
}
#company img:hover {
  cursor: pointer;
}

#contact {
  background-image: url("Assets/map-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212529;
  height: 750px;
  padding: 100px 0px 100px;
}
#contact .textbox h1 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}
#contact .textbox h3 {
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
  margin-bottom: 64px;
}
#contact .add input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ced4da;
}/*# sourceMappingURL=style.css.map */